# for loop <hr style="border:2.5px solid #738849"></hr>

Data Analyst: Esthaniel Louis E. Londres <br>
Department: Electrical Engineering

# Iterating Over a List

In [1]:
# at index 0, i = 'apple'
fruits = ['apple','orange','grapes',5]
for i in fruits:
    print(i)

apple
orange
grapes
5

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [4]:
for j in range (1,10,2):
    print(j)

1
3
5
7
9

# Literating Over a Dictionary

In [5]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [11]:
employee = {
    'name':'Stan',
    'position':'analyst',
    'salary':90000
}
for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
position
salary
Stan
analyst
90000